.contacts__wrapper {
  margin: 0 auto;
  padding: 145px 0 0 0;
  width: 991px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.contacts__title {
  color: #ffffff;
  font-family: Gilroy-ExtraBoldItalic;
  font-size: 33px;
  font-weight: 400;
  width: 91%; }
