@font-face {
    font-family: Gilroy-Heavy; /* Имя шрифта */
    src: url(../fonts/Gilroy-Heavy.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Gilroy-Regular; /* Имя шрифта */
    src: url(../fonts/Gilroy-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Gilroy-Thin; /* Имя шрифта */
    src: url(../fonts/Gilroy-Thin.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Gilroy-ExtraBoldItalic; /* Имя шрифта */
    src: url(../fonts/Gilroy-ExtraBoldItalic.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: BebasNeue; /* Имя шрифта */
    src: url(../fonts/BebasNeue.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Gilroy-SemiBold; /* Имя шрифта */
    src: url(../fonts/Gilroy-SemiBold.ttf); /* Путь к файлу со шрифтом */
}
